
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-heart-filled:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */
.icon-left:before { content: '\e809'; } /* '' */
.icon-right:before { content: '\e80a'; } /* '' */
.icon-up:before { content: '\e80b'; } /* '' */
.icon-heart-1:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-emo-wink:before { content: '\e80e'; } /* '' */
.icon-emo-unhappy:before { content: '\e80f'; } /* '' */
.icon-emo-thumbsup:before { content: '\e810'; } /* '' */
.icon-emo-devil:before { content: '\e811'; } /* '' */
.icon-emo-tongue:before { content: '\e812'; } /* '' */
.icon-emo-sunglasses:before { content: '\e813'; } /* '' */
.icon-emo-displeased:before { content: '\e814'; } /* '' */
.icon-emo-angry:before { content: '\e815'; } /* '' */
.icon-emo-cry:before { content: '\e816'; } /* '' */
.icon-emo-shoot:before { content: '\e817'; } /* '' */
.icon-camera-alt:before { content: '\e818'; } /* '' */
.icon-dot-3:before { content: '\e819'; } /* '' */
.icon-ok-circle:before { content: '\e81a'; } /* '' */
.icon-cancel-circle:before { content: '\e81b'; } /* '' */
.icon-mail-1:before { content: '\e81c'; } /* '' */
.icon-aboveground-rail:before { content: '\e81d'; } /* '' */
.icon-airport:before { content: '\e81e'; } /* '' */
.icon-bus:before { content: '\e81f'; } /* '' */
.icon-garden:before { content: '\e820'; } /* '' */
.icon-plancast:before { content: '\e821'; } /* '' */
.icon-cogs:before { content: '\e822'; } /* '' */
.icon-zoom-in:before { content: '\e823'; } /* '' */
.icon-zoom-out:before { content: '\e824'; } /* '' */
.icon-heart-2:before { content: '\e825'; } /* '' */
.icon-picture:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
